/* https://www.cssscript.com/animated-svg-gauge/ */

.rating-header {
    text-align:center;    
} 

.mobile-rating {
    margin: 0px 5px;
}

.gauge-container {
    width: 210px;
    height: 200px;
    display: block;
    padding: 10px;
}
.gauge-container > .gauge > .dial {
    stroke: rgb(224, 224, 224);
    stroke-width: 3;
    fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value {
    stroke: rgb(255, 0, 0);
    stroke-width: 10;
    fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value-text {
    fill: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .gauge-container {
        width: 170px;
        height: 170px;
        display: block;
        padding: 1
    }
    .rating-header {
        font-size: 25px;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .gauge-container {
        width: 150px;
        height: 150px;
        display: block;
    }
    .rating-header {
        font-size: 20px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .mobile-rating h2 {
        font-size: 40px;
    }
}

