/* https://www.cssscript.com/animated-svg-gauge/ */

.gauge-container {
    width: 200px;
    height: 200px;
    display: block;
    padding: 10px;
}
.gauge-container > .gauge > .dial {
    stroke: rgb(224, 224, 224);
    stroke-width: 3;
    fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value {
    stroke: rgb(255, 0, 0);
    stroke-width: 10;
    fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value-text {
    fill: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}