<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>

        <div class="jumbotron" style="
        background-image: url('https://cdn2.unrealengine.com/Diesel%2Fblog%2Fepic-games-store-update%2FEGS_Social_Update_News-2560x1440-128a69890d92407b815582c1deba54450e5645f9.jpg');
        background-repeat: repeat;
        background-attachment: none;
        background-size: cover;
        color: white;
        ">
            <div class="container">
                <h1 style="font-weight: bold; text-shadow: 4px 4px black;">So Many Games, So Little Time</h1>
                <a class="btn btn-success btn-game" href="game.php">Take me to a game</a>
            </div>
        </div>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>