<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
        <link rel="stylesheet" href="./css/searchpage.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>

        <!-- Make a Search -->
        <div class="container"><br>
            <form class="form-inline" action="game.php">
                <div class="btn-toolbar">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="filterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="filterButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </form><br>

            <a class="card gamecard" href="game">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-4">
                        <img class="game-img" src="https://images.igdb.com/igdb/image/upload/t_cover_big/co1uii.jpg">
                    </div>
                    <div class="col-lg-10 col-md-9 col-8" style="margin-top: 10px;">
                        <h2 style="word-wrap: break-word;">The Legend of Zelda</h2>
                        <div class="rates row">
                            <div class="col-sm-1 col-2 ri" title="Story Rating">
                                <i style="color: #f7bd00;" class="fa fa-book"> <p id="r1">12</p></i>
                            </div>
                            <div class="col-sm-1 col-2 ri" title="Gameplay Rating">
                                <i style="color: #0099f7;" class="fa fa-gamepad"> <p id="r2">54</p></i>
                            </div>
                            <div class="col-sm-1 col-2 ri" title="Art/Music Rating">
                                <i style="color: #ae00ff;" class="fa fa-paint-brush"> <p id="r3">23</p></i>
                            </div>
                            <div class="col-sm-1 col-2 ri" title="Difficulty Rating">
                                <i style="color: #db2100;" class="fa fa-bolt"> <p id="r4">54</p></i>
                            </div>
                            <div class="col-sm-1 col-2 ri" title="Value Rating">
                                <i style="color: #11c24c;" class="fa fa-money"> <p id="r5">53</p></i>
                            </div>
                            <div class="col-sm-7">
                            </div>
                        </div>
                        <div class="genres row">
                            Action Role-playing
                        </div>
                    </div>
                </div>
            </a><br>            

            <%- include('../partials/footer.ejs') %>
        </div>
    </body>
</html>