<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/header.ejs') %>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>

        <style>
            
        </style>
        
        <div class="container">
            <h1>Hi, BrianGH</h1>
            <button class="btn btn-danger" style="border-radius: 20px;">Change Password</button><br><br>
        
            <h1>Your Favorites: </h1>
            <div id="gamecards" class="card-deck">
        
            </div>
            <form>
                <button class="btn-lg btn-danger" type="submit" style="border-radius: 20px;"><i class="fa fa-arrow-down"></i> Load more</button>    
            </form>
        </div>
        
        <script>
        function addCard(title, img) {
            $("#gamecards").append('<div class="gamecard col-auto mb-4"><a class="card" href="game" style="margin: 0;"> <div title="' + title + '" id="g-title" data-toggle="tooltip" data-placement="top"> <img class="game-img" src="' + img + '"> </div></a></div><br>');
        }
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1n8t.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1j0g.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1iqw.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1r8b.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1tnr.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1rbi.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1vcp.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1n83.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1rgi.jpg");
        addCard("Fire Emblem: Three Houses", "https://images.igdb.com/igdb/image/upload/t_cover_big/co1v2p.jpg");
        </script>
                 
        
        <%- include('../partials/footer.ejs') %>
    </body>
</html>